.text,
text {
	display: block;
	margin: 0;
	font-family: var(--font-family-base);
	font-weight: var(--font-weight-regular);
	line-height: var(--lineheight-md);
	font-size: var(--text-size-400);
	letter-spacing: var(--letterspacing-base);
	color: var(--font-family-base);
}

/* font family */
.text-family-display,
text[family="display"] {
	font-family: var(--font-family-display);
}

.text-family-base,
text[family="base"] {
	font-family: var(--font-family-base);
}

/* font weight */
.text-weight-regular,
text[weight="regular"] {
	font-weight: var(--font-weight-regular);
}

.text-weight-medium,
text[weight="medium"] {
	font-weight: var(--font-weight-medium);
}

.text-weight-bold,
text[weight="bold"] {
	font-weight: var(--font-weight-bold);
}

/* line height */
.text-lineheight-single,
text[lineheight="single"] {
	line-height: var(--lineheight-single);
}

.text-lineheight-sm,
text[lineheight="sm"] {
	line-height: var(--lineheight-sm);
}

.text-lineheight-md,
text[lineheight="md"] {
	line-height: var(--lineheight-md);
}

.text-lineheight-lg,
text[lineheight="lg"] {
	line-height: var(--lineheight-lg);
}

/* letter spacing */
.text-letterspacing-base,
text[letterspacing="base"] {
	letter-spacing: var(--letterspacing-base);
}

.text-letterspacing-loose,
text[letterspacing="loose"] {
	letter-spacing: var(--letterspacing-loose);
}

/* sizes */
.text-size-4000,
text[size="4000"] {
	font-size: var(--text-size-4000);
}

.text-size-3400,
text[size="3400"] {
	font-size: var(--text-size-3400);
}

.text-size-3000,
text[size="3000"] {
	font-size: var(--text-size-3000);
}

.text-size-2400,
text[size="2400"] {
	font-size: var(--text-size-2400);
}

.text-size-2000,
text[size="2000"] {
	font-size: var(--text-size-2000);
}

.text-size-1600,
text[size="1600"] {
	font-size: var(--text-size-1600);
}

.text-size-1200,
text[size="1200"] {
	font-size: var(--text-size-1200);
}

.text-size-1000,
text[size="1000"] {
	font-size: var(--text-size-1000);
}

.text-size-800,
text[size="800"] {
	font-size: var(--text-size-800);
}

.text-size-700,
text[size="700"] {
	font-size: var(--text-size-700);
}

.text-size-600,
text[size="600"] {
	font-size: var(--text-size-600);
}

.text-size-550,
text[size="550"] {
	font-size: var(--text-size-550);
}

.text-size-500,
text[size="500"] {
	font-size: var(--text-size-500);
}

.text-size-450,
text[size="450"] {
	font-size: var(--text-size-450);
}

.text-size-400,
text[size="400"] {
	font-size: var(--text-size-400);
}

.text-size-350,
text[size="350"] {
	font-size: var(--text-size-350);
}

.text-size-300,
text[size="300"] {
	font-size: var(--text-size-300);
}

.text-size-275,
text[size="275"] {
	font-size: var(--text-size-275);
}

.text-size-250,
text[size="250"] {
	font-size: var(--text-size-250);
}

.text-size-225,
text[size="225"] {
	font-size: var(--text-size-225);
}

.text-size-200,
text[size="200"] {
	font-size: var(--text-size-200);
}

text[size="sm"] {
	font-size: var(--text-size-350);
}

/* color */
text[color="strong"] {
	color: var(--color-text-strong);
}

text[color="subtle"] {
	color: var(--color-text-subtle);
}

/* transform */
text[transform="uppercase"] {
	text-transform: uppercase;
}
