slide {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-0);
	box-sizing: border-box;
	width: 100%;
	max-width: var(--slide-max-width, 1280px);
	height: 800px;
	padding: var(--spacing-0);
	overflow: hidden;
	background-color: var(--color-slide-background);
}

slide[kind="cover"]:not([attribution]) attribution-box {
	display: var(--attribution-box-display);
}

slide[kind="cover"][attribution="true"] attribution-box {
	display: flex;
}

slide[kind="cover"][attribution="false"] attribution-box {
	display: none;
}
