card-title {
	display: block;
	margin: 0;
	font-family: var(--card-title-family);
	font-weight: var(--card-title-weight);
	line-height: var(--card-title-lineheight);
	font-size: var(--card-title-size-md);
	letter-spacing: var(--letterspacing-base);
}

card-title[size="xl"] {
	font-size: var(--card-title-size-xl);
}

card-title[size="lg"] {
	font-size: var(--card-title-size-lg);
}

card-title[size="md"] {
	font-size: var(--card-title-size-md);
}

card-title[size="sm"] {
	font-size: var(--card-title-size-sm);
}
