stack {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-width: 0;
	gap: var(--stack-gap-md);
}

stack[direction="row"] {
	flex-direction: row;
}

stack[direction="row"] > card,
stack[direction="row"] > stack {
	flex: 1;
	min-width: 0;
}

stack[direction="col"] {
	flex-direction: column;
}

stack[gap="0"] {
	gap: var(--spacing-0);
}

stack[gap="sm"] {
	gap: var(--stack-gap-sm);
}

stack[gap="md"] {
	gap: var(--stack-gap-md);
}

stack[gap="lg"] {
	gap: var(--stack-gap-lg);
}
