quick-fact-card-meta {
	display: block;
	margin: 0;
	padding-top: var(--quick-fact-card-meta-padding-top);
	font-family: var(--quick-fact-card-meta-family);
	font-weight: var(--quick-fact-card-meta-weight);
	line-height: var(--quick-fact-card-meta-lineheight);
	font-size: var(--quick-fact-card-meta-size);
	letter-spacing: 0%;
	color: var(--color-slide-surface-foreground-subtle);
}
