copy {
	display: block;
	margin: 0;
	font-family: var(--copy-family);
	font-weight: var(--copy-weight-default);
	line-height: var(--copy-lineheight);
	font-size: var(--copy-size-base);
	letter-spacing: 0%;
}

copy[weight="strong"] {
	font-weight: var(--copy-weight-strong);
}

copy[size="lg"] {
	font-size: var(--copy-size-lg);
}

copy[size="base"] {
	font-size: var(--copy-size-base);
}

copy[size="sm"] {
	font-size: var(--copy-size-sm);
}

copy[size="xs"] {
	font-size: var(--copy-size-xs);
}

copy[size="2xs"] {
	font-size: var(--copy-size-2xs);
}

copy[size="3xs"] {
	font-size: var(--copy-size-3xs);
}
