attribution-box {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	box-sizing: border-box;
	gap: 4px;
	background-color: var(--color-slide-surface-background);
	--attribution-box-logo-height-title: 14px;
}

attribution-box img {
	flex-shrink: 0;
	display: block;
}

attribution-box[variant="title"] {
	padding: 16px 24px;
}

attribution-box[variant="title"] text {
	font-size: var(--attribution-box-text-size-title);
	color: var(--color-slide-surface-foreground-base);
}

attribution-box[variant="title"] img {
	height: var(--attribution-box-logo-height-title);
}
