slide-content {
	display: block;
	flex: 1;
	width: 100%;
	min-height: 0;
	padding-top: var(--spacing-10);
	padding-bottom: var(--spacing-0);
	padding-left: var(--spacing-20);
	padding-right: var(--spacing-20);
}
