:root {
	/* SEMANTIC */

	/* card */
	--card-border-size-top: 1px;
	--card-border-size-bottom: 1px;
	--card-border-size-left: 1px;
	--card-border-size-right: 1px;

	/* alert */
	--alert-border-size-top: 0px;
	--alert-border-size-bottom: 0px;
	--alert-border-size-left: 2px;
	--alert-border-size-right: 0px;
}
