:root {
	/* SEMANTIC */

	/* text */
	--color-text-strong: rgb(from var(--color-text) r g b / 1);
	--color-text-base: rgb(from var(--color-text) r g b / 0.7);
	--color-text-subtle: rgb(from var(--color-text) r g b / 0.5);
	--color-text-highlight: var(--color-text);

	/* slide */
	--color-slide-bg: var(--color-white);

	/* card */
	--color-card-bg: var(--color-surface-bg);
	--color-card-border: var(--color-border);

	/* alert */
	--color-alert-bg: var(--color-surface-bg);
	--color-alert-border: var(--color-primary);
	--color-alert-border-positive: var(--color-positive);
	--color-alert-border-warning: var(--color-warning);
	--color-alert-border-negative: var(--color-negative);
	--color-alert-border-informative: var(--color-informative);

	/* GLOBAL */

	--color-primary: rgb(160, 203, 50);
	--color-secondary: rgb(158, 118, 30);
	--color-white: rgb(234, 239, 227);
	--color-surface-bg: rgba(255, 255, 255, 1);
	--color-text: rgb(12, 12, 15);
	--color-border: rgba(0, 0, 0, 0.2);

	--color-positive: rgba(22, 163, 74, 1);
	--color-positive-bg: rgba(22, 163, 74, 0.1);

	--color-warning: rgba(234, 88, 12, 1);
	--color-warning-bg: rgba(234, 88, 12, 0.1);

	--color-negative: rgba(220, 38, 38, 1);
	--color-negative-bg: rgba(220, 38, 38, 0.1);

	--color-informative: rgba(37, 99, 235, 1);
	--color-informative-bg: rgba(37, 99, 235, 0.1);

	--color-chart-1: rgba(147, 51, 234, 1);
	--color-chart-2: rgba(99, 102, 241, 1);
	--color-chart-3: rgba(30, 58, 95, 1);
	--color-chart-4: rgba(13, 148, 136, 1);
}
