slide-header {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding-top: var(--slide-header-padding-top);
	padding-right: var(--slide-header-padding-right);
	padding-bottom: var(--slide-header-padding-bottom);
	padding-left: var(--slide-header-padding-left);
}
