slot {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	min-width: 0;
	min-height: 48px;
	background-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-color: var(--color-slide-surface-border);
	border-top-width: var(--card-border-size-top);
	border-bottom-width: var(--card-border-size-bottom);
	border-left-width: var(--card-border-size-left);
	border-right-width: var(--card-border-size-right);
	border-radius: var(--border-radius-card);
	padding: var(--card-padding-md);
}
