alert {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: var(--color-alert-bg);
	border-style: solid;
	border-color: var(--color-alert-border);
	border-top-width: var(--alert-border-size-top);
	border-bottom-width: var(--alert-border-size-bottom);
	border-left-width: var(--alert-border-size-left);
	border-right-width: var(--alert-border-size-right);
	border-radius: var(--border-radius-alert);
	padding: var(--alert-padding-md);
	gap: var(--alert-gap);
}

alert[variant="positive"] {
	border-color: var(--color-alert-border-positive);
}

alert[variant="warning"] {
	border-color: var(--color-alert-border-warning);
}

alert[variant="negative"] {
	border-color: var(--color-alert-border-negative);
}

alert[variant="informative"] {
	border-color: var(--color-alert-border-informative);
}

alert[padding="sm"] {
	padding: var(--alert-padding-sm);
}

alert[padding="md"] {
	padding: var(--alert-padding-md);
}

alert[padding="lg"] {
	padding: var(--alert-padding-lg);
}
